//Font
$weightsNormal: 400;
$weightsAlto: 700;

//Font size
$bodySize: 18px;

//Color Primary
$darkCyan: hsl(185, 75%, 39%);
$veryDarkDesaturatedBlue: hsl(229, 23%, 23%);
$darkGrayishBlue: hsl(227, 10%, 46%);

//Color Neutral
$darkGray: hsl(0, 0%, 59%);

//Layout
$layoutMobile: 375px;
$layoutDesktop: 1440px;
